NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://jadounharsh020:1NmEXnSWKiX1tlcI@cluster0.eqxs9ki.mongodb.net/?appName=Cluster0

JWT_SECRET=your-super-secret-jwt-key-min-32-chars-long
JWT_EXPIRES_IN=24h
JWT_COOKIE_EXPIRES_IN=1

CLOUDINARY_CLOUD_NAME=drvk7mn8z
CLOUDINARY_API_KEY=339949735291363
CLOUDINARY_API_SECRET=dAgMl71OQYaz6gnSox3OFzLNpB4

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_FROM=HRMS <noreply@yourcompany.com>